* {
    margin: 0px;
    padding: 0px;
}

header {

    h2 {
        color: purple;
        margin-left: 15px;
    }

    .searchbox {
        background-color: azure;
        padding: 10px 20px;
        border-radius: 10px;
    }
    height: 8vh;
    width: 100vw;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
        display: flex;
        margin-right: 30px;
        align-items: center;
        justify-content: space-between;
        input {
            padding: 5px 10px;
            min-width: 400px;
        }
        label {
            margin-right: 10px;
            font-weight: 600;
        }
    }
    button {
        text-decoration: none;
        margin-left: 20px;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: white;
        font-weight: 600;
        color: orange;
        

        &:hover {
            background-color: orange;
            color: white;
        }

    }
}
