main {
    display: flex;
    flex-wrap: wrap;
    .movieContent {
        margin: 20px 15px;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 15px;
        width: 250px;
        img {
            min-width: 250px;
            min-height: 200px;
            max-width: 250px;
            max-height: 200px;
            background-size: cover;
            background-color: #CDCBCB;
        }
        .buttonClass {
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .download {
                width: 75%;
                padding: 10px 10px;
                background-color: green;
                color: white;
                font-size: 18px;
                font-weight: 600;
                border: 0px;
                cursor: pointer;
                transition: all 0.3s linear;
                &:hover {
                    color: green;
                    background-color: white;
                }
            }

        }
    }
}


body, main {
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}


.like, .dislike, .dislikeFav {
    min-width: fit-content;
    text-align: center;
    border: 0px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    color: hotpink;
    transition: all 0.3s linear;
    &:hover {
        border-radius: 20%;
        // transform: scale(1.1);
        background-color: hotpink;
        color: white;
    }
}

.dislike {
    display: none;
}

.dislike, .dislikeFav {
    color: red;
    &:hover {
        background-color: red;
        color: white;
    }
}

.hidden {
    display: hidden !important;
}

