body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#movieRoot {
  margin: 6vh;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
  #top {
      height: 80vh;
      display: flex;
      img, #MovieContent {
          width: 40vw;
          height: 100%;
      }
      img {
          background-color: rgb(198, 194, 194);
      }
      #MovieContent {
          display: flex;
          flex-direction: column;
          background-color: white;
      }
      div {
          width: 90%;
          padding: 5%;
          display: flex;
          label, p {
              padding: 3px;
              font-size: 20px;
              font-weight: 600;
          }
          label {
              color: purple;
          }
      }
      .details {
          background-color: white;
          flex-direction: column ;
      }
  }

  #buttonholder {
      width: 50vh;
      button {
          padding: 10px 15px;
          margin: 10px;
          background-color: green;
          &:hover {
              color: green;
              background-color: white;
          }
      }
      a {
          padding: 10px;
          margin: 10px;
          text-decoration: none;
          background-color: hotpink;
          &:hover {
              background-color: white;
              color: red;
          }
      }
      
      
  }
}

button, a {
  text-align: center;
  min-width: 70px;
  color: white;
  border: 0px;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s linear !important;
}